[submodule "std"]
	path = cores/phantom/std
	url = git@github.com:PhantomEmbedded/PhantomAVRSTD.git
[submodule "libraries/stl"]
	path = libraries/stl
	url = git@github.com:PhantomEmbedded/avr-stl.git
